/* Configuración para el modo oscuro (Slate) */
[data-md-color-scheme="slate"] {
  /* El color del fondo principal de la página */
  --md-default-bg-color: #0f0f0f; 
  
  /* El color principal del texto (gris claro/blanco) */
  --md-default-fg-color: #c5c8c6; 
  
  /* El color de los enlaces y la barra superior */
  --md-primary-fg-color: #8b0000; /* Ejemplo: Rojo oscuro */
  
  /* El color de acento (botones, selecciones, hover) */
  --md-accent-fg-color: #ff4500; /* Ejemplo: Naranja brillante */

  /* El color de fondo de los bloques de código */
  --md-code-bg-color: #1a1a1a;
}
